body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial;
  text-align: center;
  min-height: 50vh;
  min-width: 370px;
  background-color: black;
  background-size: 200%;
}

h1 {
  padding: 20px 10px;
  letter-spacing: 0.2em;
  color: white;
}

#search {
  padding: 11px;
  width: 40%;
  min-width: 200px;
  max-width: 400px;
  border: 2px solid white;
  border-radius: 25px;
}

#btn {
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
  border: 2px solid white;
  cursor: pointer;
  width: 90px;
}
